* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a, *::before, *::after {
  display: inline-block;
}

body {
  font-family: "Inter", sans-serif;
  color: #fff;
}

.wrapper {
  background-color: hsl(0, 0%, 8%);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  flex: 0 1 420px;
  background-color: hsl(0, 0%, 12%);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  width: 100%;
  border-radius: 15px;
  margin: 15px;
}
.card__container {
  padding: 45px 40px;
  display: flex;
  flex-direction: column;
  gap: 26px;
  align-items: center;
  text-align: center;
}
@media (max-width: 425px) {
  .card__container {
    padding: 30px 20px;
    gap: 20px;
  }
}
.card__body {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  text-align: center;
}
.card__image {
  max-width: 90px;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.15);
  aspect-ratio: 1/1;
  margin-bottom: 20px;
}
@media (max-width: 425px) {
  .card__image {
    margin-bottom: 2px;
    max-width: 80px;
  }
}
.card__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.user__name {
  font-weight: 700;
  font-size: 28px;
}
@media (max-width: 425px) {
  .user__name {
    font-size: 24px;
  }
}
.user__origin {
  font-weight: 600;
  color: hsl(75, 94%, 57%);
  margin-bottom: 16px;
}
@media (max-width: 425px) {
  .user__origin {
    margin-bottom: 8px;
    font-size: 14px;
  }
}
.user__specialization {
  font-size: 14px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 360px;
  width: 100%;
}
.buttons__button {
  background-color: hsl(0, 0%, 20%);
  padding: 16px 0;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}
.buttons__button:hover {
  cursor: pointer;
  background-color: hsl(75, 94%, 57%);
}
.buttons__button:hover .button__link {
  color: hsl(0, 0%, 8%);
}
.buttons__button:active {
  transform: scale(0.95);
}

.button__link {
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  transition: color 0.3s ease;
}
@media (max-width: 425px) {
  .button__link {
    font-size: 14px;
  }
}